<p><span>Username: </span>{{user.username}}</p>
<p><span>Имя: </span>{{user.firstname}}</p>
<p><span>Фамилия: </span>{{user.lastname}}</p>
<p><span>Почта: </span>{{user.email}}</p>
<p><span>Пароль: </span>{{user.password}}</p>