<p><span>Username: </span>{{username}}</p>
<p><span>Имя: </span>{{firstname}}</p>
<p><span>Фамилия: </span>{{lastname}}</p>
<p><span>Почта: </span>{{email}}</p>
<p><span>Пароль: </span>{{password}}</p>